
    
    <!-- 订单列表 -->
    <div class="goods">
    <img src="assets/images/01.jpg" class="picture">
    <div class="info">
        <div class="shop">优衣库</div>
        <div class="id">YYK20220811001</div>
        <div class="time">2022-08-11 11:28</div>
        
    </div>
    <div class="count "> <i class="shuliang"></i>采购: 7
    <div class="money"> ¥430.00</div>
    <div class="destination">大仓</div>
    </div>
    
</div>

<div class="goods">
    <img src="assets/images/01.jpg" class="picture">
    <div class="info">
        <div class="shop">深圳市宝安区西乡凌古服装厂</div>
        <div class="id">SZ20220811001111</div>
        <div class="time">2022-08-11 11:28</div>
        
    </div>
    <div class="count "> <i class="shuliang"></i>采购: 10
    <div class="money"> ¥10001.00</div>
    <div class="destination">大仓</div>
    </div>
    
</div>
    
    
    