<div id="main">
    <div class="title">
    <div class="title_history">
        <h3>采购历史</h3>
    </div>
    
    <div class="title_add">
        <input type="button" class="button1" value="+新增">
    </div>
    
    <div class="title_check">
        <input type="button" class="button2" value="🔍查询">
    </div>
    </div>
    
    <div>
    
    </div>
    <button class="button3">默认</button>
    <button class="button4">已采购</button>
    <button class="button5">草稿</button>
    <br/>
    <button class="button6">待入库</button>
    <button class="button7">部分入库</button>
    <button class="button8">撤销</button>

    

<router-outlet></router-outlet>
<app-list></app-list>

</div>